<p-toolbar>
    <ng-template #start>
        <p-button icon="pi pi-plus" class="mr-2" text severity="secondary" />
        <p-button icon="pi pi-upload" class="mr-2" text severity="secondary" (click)="fileInput.click()" />
        <input #fileInput type="file" accept=".ts" style="display: none;" (change)="handleFileInput($event)" />
        <p-button icon="pi pi-file-export" text severity="secondary" (click)="exportTheme()" />
    </ng-template>
    <ng-template #end>
        <p-button [icon]="modeIcon" class="mr-2" text severity="secondary" (click)="toggleDarkMode()" />
        <p-button [icon]="modeIcon" class="mr-2" text severity="secondary" (click)="toggleDarkMode()" />
    </ng-template>
</p-toolbar>

<!-- Main Section -->
<div class="flex" [style.backgroundColor]="mode === 'dark' ? 'var(--surface-900)' : 'var(--surface-100)'">
    <p-toast />

    <!-- Left hand side: Theme Editor -->
    <div style="width: 50%; padding: 1rem;">
        <h2 style="width:100%"><i class="pi pi-palette"></i>&nbsp; Theme Lab</h2>


        <!-- Top: Select Presets or upload -->
        <p-fieldset legend="Base" [toggleable]="true">
            <div class="flex col-12 p-0 gap-8 justify-content-start">
                <div>
                    <h4>Select a preset </h4>
                    <div style="display: flex; flex-direction: column; gap: 0.5rem;">
                        <span style="width:100%">
                            <p-checkbox [binary]="true" value="Aura" id="au"/>
                            <label for="au" class="ml-2">Aura</label>
                        </span>
                        
                        <span style="width:100%">
                            <p-checkbox [binary]="true" value="Lara" id="la"/>
                            <label for="la" class="ml-2">Lara</label>
                        </span>

                        <span style="width:100%">
                            <p-checkbox [binary]="true" value="Nora" id="no"/>
                            <label for="no" class="ml-2">Nora</label>
                        </span>
                        
                    </div>
                </div>
                <div>
                    <h4>Or upload an existing theme: </h4>
                    <p-button icon="pi pi-upload" class="mr-2" text severity="secondary" (click)="fileInput.click()" />
                    <input #fileInput type="file" accept=".ts" style="display: none;" (change)="handleFileInput($event)" />
                </div>
            </div>
        </p-fieldset>

        <p-tabs value="1" style="width: 100%">
            <p-tablist>
                <p-tab value="0">Color Palettes</p-tab>
                <p-tab value="1">Borders</p-tab>
                <p-tab value="2">Sizing</p-tab>
                <p-tab value="3">Components</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                <div class="flex flex-wrap gap-4">

                    <!-- todo: left side should scroll independently of right side -->
                    <!-- Bottom (left): Primitive color palettes -->
                    <div class="flex-1">
                        <h2><i class="pi pi-palette"></i>&nbsp;Primitive Color Palettes</h2>
                        <div *ngFor="let palette of primitiveColors | keyvalue">
                            <div class="palette-title">
                                <div class="color-swatch">
                                    <p-colorpicker [ngModel]="palette.value['500']"
                                        (onChange)="updatePalette(palette.key, $event, 'primitive')" />
                                </div>
                                <h4>{{ palette.key }}</h4>
                            </div>
                            <div class="palette" style="margin-bottom: 1rem; width: 100%;">
                                <div *ngFor="let shade of palette.value | keyvalue : sortPaletteKeys" class="color-swatch"
                                    pTooltip="{{palette.key}} {{shade.key}}" tooltipPosition="top">
                                    <p-colorpicker [(ngModel)]="shade.value"
                                        (onChange)="updateSwatch(palette.key, shade.key, shade.value, 'primitive')" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Bottom (right): Semantic color palettes -->
                    <div class="flex-1">
                        <h2><i class="pi pi-palette"></i>&nbsp;Semantic Color Palettes</h2>
                        <div *ngFor="let palette of semanticColors | keyvalue">
                            <div class="palette-title">
                                <div class="color-swatch">
                                    <p-colorpicker [ngModel]="palette.value['500']"
                                        (onChange)="updatePalette(palette.key, $event, 'semantic')" />
                                </div>
                                <h4>{{ palette.key }}</h4>
                            </div>
                            <div class="palette" style="margin-bottom: 1rem; width: 100%;">
                                <div *ngFor="let shade of palette.value | keyvalue : sortPaletteKeys" class="color-swatch"
                                    pTooltip="{{palette.key}} {{shade.key}}" tooltipPosition="top">
                                    <p-colorpicker [(ngModel)]="shade.value"
                                        (onChange)="updateSwatch(palette.key, shade.key, shade.value, 'semantic')" />
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <!-- <div *ngFor="let type of this.currentTheme.semantic.colorScheme[this.mode] | keyvalue">
                        <p-fieldset [legend]="type.key" [toggleable]="true">
                            <div class="flex flex-wrap gap-4">
                                 <div style="padding-top: 20px" *ngFor="let setting of ['text','content','formField'] ">
                                    <p-floatlabel>
                                        <input 
                                            pSize="small" 
                                            [(ngModel)]="setting.value" 
                                            (ngModelChange)="applyContentChange($event, setting.key)" 
                                            [id]="setting.key" 
                                            pInputText/>
                                        <label [for]="setting.key">{{setting.key}}</label>
                                    </p-floatlabel>
                                </div> 
                            </div>
                        </p-fieldset>
                    </div> -->
                        <p-fieldset legend="Text" [toggleable]="true">
                            <div class="flex flex-wrap gap-4">
                                <div style="padding-top: 20px" *ngFor="let setting of this.currentTheme.semantic.colorScheme[this.mode].text | keyvalue">
                                    <p-floatlabel>
                                        <input 
                                            pSize="small" 
                                            [(ngModel)]="setting.value" 
                                            (ngModelChange)="applyTextChange($event, setting.key)" 
                                            [id]="setting.key" 
                                            pInputText/>
                                        <label [for]="setting.key">{{setting.key}}</label>
                                    </p-floatlabel>
                                </div>
                            </div>
                        </p-fieldset>
                        <p-fieldset legend="Content" [toggleable]="true">
                            <div class="flex flex-wrap gap-4">
                                <div style="padding-top: 20px" *ngFor="let setting of this.currentTheme.semantic.colorScheme[this.mode].content | keyvalue">
                                    <p-floatlabel>
                                        <input 
                                            pSize="small" 
                                            [(ngModel)]="setting.value" 
                                            (ngModelChange)="applyContentChange($event, setting.key)" 
                                            [id]="setting.key" 
                                            pInputText/>
                                        <label [for]="setting.key">{{setting.key}}</label>
                                    </p-floatlabel>
                                </div>
                            </div>
                        </p-fieldset>
                        <p-fieldset legend="Form" [toggleable]="true">
                            <div class="flex flex-wrap gap-4">
                                <div style="padding-top: 20px" *ngFor="let setting of this.currentTheme.semantic.colorScheme[this.mode].formField | keyvalue">
                                    <p-floatlabel>
                                        <input 
                                            pSize="small" 
                                            [(ngModel)]="setting.value" 
                                            (ngModelChange)="applyFormChange($event, setting.key)" 
                                            [id]="setting.key" 
                                            pInputText/>
                                        <label [for]="setting.key">{{setting.key}}</label>
                                    </p-floatlabel>
                                </div>
                            </div>
                        </p-fieldset>
                </p-tabpanel>
                <p-tabpanel value="2">
                    
                </p-tabpanel>
                <p-tabpanel value="3">
                    
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>



        
        

        

        
    </div>

    <!-- Right hand side: PrimeNG Components Display -->
     <!-- todo: allow toggling with component-board instead -->
    <div style="width: 50%; padding: 1rem;">
        <app-primeng></app-primeng>
    </div>
</div>