

<p-toolbar>
    <ng-template #start>
        <p-button icon="pi pi-plus" class="mr-2" text severity="secondary" />
        <p-button icon="pi pi-print" class="mr-2" text severity="secondary" />
        <p-button icon="pi pi-upload" text severity="secondary" />
    </ng-template>
    <ng-template #end>
        <p-button [icon]="modeIcon" class="mr-2" text severity="secondary" (click)="toggleDarkMode()"/>
    </ng-template>
</p-toolbar>
<div class="flex background">
    <p-toast />
    
    <div class="flex flex-wrap gap-4" style="width: 50%; padding: 1rem;">
        <div>
            <h2><i class="pi pi-palette"></i>&nbsp;Primitive Color Palettes</h2>
            <div *ngFor="let palette of primitiveColors | keyvalue">
                <div class="flex align-items-center">
                    <p-colorpicker [ngModel]="palette.value['500']" (onChange)="updatePalette(palette.key, $event, 'primitive')" />
                    &nbsp;
                    <h4>{{ palette.key }}</h4>
                </div>
                <div class="palette" style="margin-bottom: 1rem; width: 100%;">
                    <div *ngFor="let shade of palette.value | keyvalue : sortPaletteKeys"
                        style="text-align: center; padding: 0.2rem; color: white;">
                        <p-colorpicker [(ngModel)]="shade.value" (onChange)="updateSwatch(palette.key, shade.key, shade.value, 'primitive')" />
                        
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2><i class="pi pi-palette"></i>&nbsp;Semantic Color Palettes</h2>
            <div *ngFor="let palette of semanticColors | keyvalue">
                <div class="flex align-items-center">
                    <p-colorpicker [ngModel]="palette.value['500']" (onChange)="updatePalette(palette.key, $event, 'semantic')" />
                    &nbsp;
                    <h4>{{ palette.key }}</h4>
                </div>
                <div class="palette" style="margin-bottom: 1rem; width: 100%;">
                    <div *ngFor="let shade of palette.value | keyvalue : sortPaletteKeys"
                        style="text-align: center; padding: 0.2rem; color: white;">
                        <p-colorpicker [(ngModel)]="shade.value" (onChange)="updateSwatch(palette.key, shade.key, shade.value, 'semantic')" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 50%; padding: 1rem;">
        <h2><i class="pi pi-prime"></i>&nbsp; PrimeNG Components</h2>
        <p-fieldset legend="Buttons" [toggleable]="true">
            <i>Button</i>
            <div class="card flex flex-wrap gap-3 justify-center">
                <p-button label="Primary" />
                <p-button label="Secondary" severity="secondary" />
                <p-button label="Success" severity="success" />
                <p-button label="Info" severity="info" />
                <p-button label="Warn" severity="warn" />
                <p-button label="Help" severity="help" />
                <p-button label="Danger" severity="danger" />
                <p-button label="Contrast" severity="contrast" />
            </div>
            <br>
            <i>SpeedDial</i>
            <div style="height: 60px; position: relative;">
                <p-speeddial [model]="speedDialItems" direction="right"
                    [style]="{ position: 'absolute', top: 'calc(70% - 2rem)', left: 0 }" />
            </div>
            <br>
            <i>SplitButton</i>
            <div class="card flex justify-center flex-wrap gap-4">
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" />
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" severity="secondary" />
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" severity="success" />
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" severity="info" />
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" severity="warn" />
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" severity="help" />
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" severity="danger" />
            </div>
        </p-fieldset>
        <p-fieldset legend="Form" [toggleable]="true">
            <i>Checkbox, ColorPicker, DataPicker</i>
            <div class="card flex justify-center gap-3 align-items-center">
                <p-checkbox [binary]="true" />
                <p-colorpicker/>
                
            </div>
            <br>
            <i>DatePicker</i>
            <div class="card flex justify-center">
                <p-datepicker/>
            </div>
            <br>
            <i>FloatLabel, iconField, InputIcon</i>
            <div class="card flex justify-center" style="padding-top: 20px">
                <p-floatlabel>
                    <input id="username" pInputText />
                    <label for="username">Username</label>
                </p-floatlabel>

                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input type="text" pInputText placeholder="Search" />
                </p-iconfield>
            </div>
            <br>
            <i>Knob</i>
            <div class="card flex justify-center">
                <p-knob />
            </div>
        </p-fieldset>
        <p-fieldset legend="Data" [toggleable]="true">


        </p-fieldset>
        <p-fieldset legend="Panel" [toggleable]="true">


        </p-fieldset>
    
    </div>
</div>