<h2><i class="pi pi-prime"></i>&nbsp; PrimeNG Components</h2>
        <p-fieldset legend="Buttons" [toggleable]="true">
            <i>Button</i>
            <div class="card flex flex-wrap gap-3 justify-center">
                <p-button label="Primary" />
                <p-button label="Secondary" severity="secondary" />
                <p-button label="Success" severity="success" />
                <p-button label="Info" severity="info" />
                <p-button label="Warn" severity="warn" />
                <p-button label="Help" severity="help" />
                <p-button label="Danger" severity="danger" />
                <p-button label="Contrast" severity="contrast" />
            </div>
            <br>
            <i>SpeedDial</i>
            <div style="height: 60px; position: relative;">
                <p-speeddial [model]="speedDialItems" direction="right"
                    [style]="{ position: 'absolute', top: 'calc(70% - 2rem)', left: 0 }" />
            </div>
            <br>
            <i>SplitButton</i>
            <div class="card flex justify-center flex-wrap gap-4">
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" />
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" severity="secondary" />
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" severity="success" />
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" severity="info" />
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" severity="warn" />
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" severity="help" />
                <p-splitbutton label="Save" (onClick)="success()" [model]="items" severity="danger" />
            </div>
        </p-fieldset>
        <p-fieldset legend="Form" [toggleable]="true">
            <i>Checkbox, ColorPicker, Datepicker</i>
            <div class="component-container">
                <p-checkbox [binary]="true" />
                <p-colorpicker />
                <p-datepicker placeholder="DatePicker"/>
            </div>

            <br>

            <i>FloatLabel, IconField</i>
            <div class="component-container" style="padding-top:18px">
                <p-floatlabel>
                    <input id="username" pInputText />
                    <label for="username">FloatLabel</label>
                </p-floatlabel>

                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input type="text" pInputText placeholder="IconField" />
                </p-iconfield>
            </div>

            <br>

            <i>Knob, MultiSelect, Listbox</i>
            <div class="component-container">
                <p-knob />
                <p-multiselect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="MultiSelect" [maxSelectedLabels]="3" styleClass="w-full" />
                <p-listbox [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" class="w-full"/>

            </div>

            <br>

            <i>Password, RadioButton, Rating, Select</i>
            <div class="component-container">
                <p-password [feedback]="false" placeholder="Password"/>
                <p-radiobutton name="pizza" inputId="ingredient1" />
                <p-rating [(ngModel)]="rating" />
                <p-select [options]="cities" [(ngModel)]="selectedCity2" optionLabel="name" placeholder="Select" class="w-full" />
            </div>

            <br>
            
            <i>SelectButton, Slider, Textarea</i>
            <div class="component-container">
                <p-selectbutton [options]="stateOptions" [(ngModel)]="selectedState" optionLabel="name" optionValue="code" aria-labelledby="basic" />
                <p-slider [(ngModel)]="sliderValue" [style]="{'width': '10rem'}"/>
                <textarea rows="5" cols="20" pTextarea placeholder="Textarea..."></textarea>
            </div>

            <i>ToggleButton, ToggleSwitch, TreeSelect</i>
            <div class="component-container">
                <p-togglebutton [(ngModel)]="checked1" onLabel="On" offLabel="Off" styleClass="w-24" />
                <p-toggleswitch [(ngModel)]="checked2" />
                <p-treeselect  [(ngModel)]="selectedTreeNodes" [options]="treeNodes" placeholder="Tree Select" />
            </div>

            
            
        </p-fieldset>
        <p-fieldset legend="Data" [toggleable]="true">
            <i>Dataview</i>
            <div class="component-container">

            </div>

            <i>OrderList</i>
            <div class="component-container">

            </div>

        </p-fieldset>
        <p-fieldset legend="Panel" [toggleable]="true">


        </p-fieldset>
